@import "bootstrap-icons.min.css";

.navbar-origin {
    background-color: transparent !important;

    transition: all 0.4s ease;
}

.navbar-scrolled {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff85 !important;
}

.info {
    position: relative;
    width: 100%;
    padding-top: 6.5rem !important;
}

.banner {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url("../../img/bg/banner.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 40vh;
}

.card-move-top {
    position: relative;
    top: -8vh;
}
